*{
  padding: 0;
  margin: 0;
}
body{
  background: #f5f8fa;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.content{
  padding-left: 80px;
  padding-right: 80px;
  width: 87%;
}
.color-grey{
  color: #808F9B;
}
.f-white{
  background-color: #fff;
}
.color-border{
  border: #e1e8ed solid 1px;
}
.border-radius{
    border-radius: 7px;
    overflow: auto;
}
header{
  border-bottom: solid 1px #cad0d5;
  height: 46px;
  position: fixed;
  width: 100%;
  box-shadow:0 0 2px #cad0d5;
  background-color: #fff;
}
nav .nav-left{
  color: #66757F;
}
span.nav-center{
  color: #1da1f2;
}
nav .nav-left, .nav-right , .nav-center {
  margin-top: 7px;
}
nav span{
  padding: 10px 7px;
}
nav span i{
  padding-left: 5px;
  font-style: normal;
}
.nav-left span:hover{
  border-bottom: 3px solid #1da1f2;
}
nav .nav-right button{
  color: #fff;
  background-color: #1da1f2;
  border: transparent;
  border-radius: 5px;
  height: 32px;
  width: 100px;
}
nav .nav-right input{
  height: 32px;
  border: solid 1px #cad0d5;
  border-radius: 15px;
  background: #f5f8fa;
  background-image: url('../img/searchicon.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: right;
  padding: 0 40px 0 10px ;
}
nav .nav-right input:focus{
  background-color: #fff;
  outline: 0;
}
nav .foto{
  border-radius: 50%;
  width: 35px;
  margin: 0 10px;
}
nav .nav-right *{
  float: right;
}
nav .nav-center{
  padding-left: 20%;
  font-size: 1.5rem;
}
/*contenido Principal*/
main{
  padding-top: 56px;
}
.col-datos,.col-seguir{
  width: 24%;
  /*border: solid;*/
  /*background-color: red;*/
  /*margin-left: 10px;*/
}
section.col-datos .perfil{
  overflow: auto;
}
.col-posts{
  width: 48%;
  margin-left: 14px;
}
.col-posts .estado{
  background-color: #E8F4FB;
}
.enlace *{
  font-size: 1rem;
  margin: 0 20px;
}
